.mat-mdc-card-content .mat-mdc-card {
    padding: 5px 5px !important;
    background-color: #222232 !important;
}

mat-card {
    background-color: #222232 !important;
}

.custom-table {
    background-color: #222232 !important;
    /* Cambia il colore di sfondo della tabella */
    color: #fff !important;
    /* Cambia il colore del testo della tabella */
}

mat-row {
    color: #fff !important;
}

 .lblue {
    background-color: #f9f9f9; /* Replace with your desired color */
  }

  