.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-column-gap: 1rem; // optional
    grid-row-gap: 1rem; // optional
    margin-top: 10px;
}

.example-card {
    background-color: #222232;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.teams-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 2px;
}

.prediction-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 5px;
}

.fk-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fk-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fk-row span {
    font-size: medium;
}

#container {
    width: 20px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

span {
    color: white;
}

.qualified {
    background-color: green;
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
}
