/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-sidenav-content {
    background-color: #14142b;
}

::ng-deep .mat-toolbar {
  background-color: #14142b;
}

.mat-toolbar.mat-primary {
  background: #14142b;
  color: #fff;
}

.white-icon {
  color: #fff;
}