/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #14142b;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-sidenav-content {
    background-color: #14142b;
}

::ng-deep .mat-toolbar {
  background-color: #14142b;
}

.mat-toolbar.mat-primary {
  background: #14142b;
  color: #fff;
}

.white-icon {
  color: #fff;
}

.mat-mdc-row:nth-child(even) {
  background-color: #14274D;
}

.mdc-tab.mdc-tab {
  background-color: rgba(255, 255, 255, 0.3) !important;
  color: white !important;
}

.mdc-tab.mdc-tab--active{
  background-color: rgba(255, 255, 255, 1) !important;
  font-weight: 900;
  color: white !important;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* or any height you need */
}